* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: black;
  position: sticky;
  top: 0;
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  color: white;
  font-family: "Sen", sans-serif;
}

.logo-container {
  flex: 1;
}

.logo {
  font-size: 30px;
  color: orange;
  margin-right: 20px;
}

.menu-container {
  flex: 6;
}

.menu-list {
  display: flex;
  list-style: none;
}

.menu-list-item {
  margin-right: 30px;
}

.menu-list-item.active {
  font-weight: bold;
}

.toggle {
  width: 40px;
  height: 20px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.toggle-icon {
  color: orange;
}

.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: black;
  position: absolute;
  right: 1px;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s ease all;
}

.container {
  background-color: #151515;
  min-height: calc(100vh - 50px);
  color: white;
}

.content-container {
  margin-left: 50px;
}

.featured-content {
  height: 50vh;
  padding: 50px;
}

.featured-title {
  width: 200px;
}

.featured-desc {
  width: 500px;
  color: lightgray;
  margin: 30px 0;
}

.featured-button {
  background-color: #4dbf00;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
}

.movie-list-container {
  padding: 0 20px;
}

.movie-list-wrapper {
  position: relative;
  overflow: hidden;
}

.movie-list {
  display: flex;
  align-items: center;
  height: 300px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.movie-list-item {
  margin-right: 30px;
  position: relative;
}

.movie-list-item:hover .movie-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
  opacity: 1;
}

.movie-list-item-img {
  transition: all 1s ease-in-out;
  width: 270px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.movie-list-item-title {
  background-color: #333;
  padding: 0 10px;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-desc {
  background-color: #333;
  padding: 10px;
  font-size: 14px;
  position: absolute;
  top: 30%;
  left: 50px;
  width: 230px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.arrow {
  font-size: 120px;
  position: absolute;
  top: 90px;
  right: 0;
  color: lightgray;
  opacity: 0.5;
  cursor: pointer;
}

.container.active {
  background-color: white;
}

.movie-list-title.active {
  color: black;
}

.navbar-container.active {
  background-color: white;

  color: black;
}

.sidebar.active{
    background-color: white;
}

.left-menu-icon.active{
    color: black;
}

.toggle.active{
    background-color: black;
}

.toggle-ball.active{
    background-color: white;
    transform: translateX(-20px);
}

.search-container {
  display: flex; 
  align-items: center; 
  width: 100%;
  max-width: 400px; 
}

#movie-search {
  flex: 1; /* Automatically fill remaining space */
  padding: 10px;
  border: 2px solid var(--main-color); /* Thicker border for more emphasis */
  border-radius: 20px 0 0 20px; /* Rounded corners on the left side */
  outline: none; /* Removes the default focus outline */
  height: 40px;
}

#search-btn {
  border: none;
  /* background-color: var(--search-btn-color); */
  color: var(--text-color);
  padding: 10px 20px;
  border-radius: 0 20px 20px 0; /* Rounded corners on the right side */
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px; /* Larger font size for the search icon */
  height: 40px;
}

#search-btn:hover {
  background-color: orange;
}

/* Add focus styles to the search input for better UX */
#movie-search:focus {
  border-color: var(--search-btn-hover-color);
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25); /* A subtle focus ring */
}

.movie-display {
  width: 80%;
  max-width: 800px;
  border: 1px solid #ddd;
  background-color: white;
  padding: 20px;
  text-align: center; 
}

.movie-title {
  font-size: 24px;
  font-weight: bold;
}

.movie-poster {
  width: 350px; 
  height: 500px; 
}

.movie-details {
  margin-top: 20px;
}
.menu-list-item.active a {
  color: orange; 
}

footer{
  background-color:black;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: auto; /* Push footer to the bottom */
  position: bottom;
}
footer.active{
  background-color:white;
  color: black;
}
@media only screen and (max-width: 940px){
    .menu-container{
        display: none;
    }
}